<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FractalFactory.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <FractalFactory.Properties.Settings>
            <setting name="numer" serializeAs="String">
                <value />
            </setting>
			<setting name="denom" serializeAs="String">
				<value />
			</setting>
			<setting name="execution" serializeAs="String">
                <value>Parallel</value>
            </setting>
            <setting name="input" serializeAs="String">
                <value>Equation</value>
            </setting>
            <setting name="xmin" serializeAs="String">
                <value />
            </setting>
            <setting name="ymin" serializeAs="String">
                <value />
            </setting>
            <setting name="xmax" serializeAs="String">
                <value />
            </setting>
            <setting name="ymax" serializeAs="String">
                <value />
            </setting>
            <setting name="divs" serializeAs="String">
                <value />
            </setting>
            <setting name="frames" serializeAs="String">
                <value>Multiple</value>
            </setting>
            <setting name="movieFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="projectPath" serializeAs="String">
                <value />
            </setting>
        </FractalFactory.Properties.Settings>
    </userSettings>
</configuration>